body {
    background: #fff;
    line-height: 1.8em;
    font-family: monospace;
    font-size: .12rem;
    min-width: 12rem;
}

a {
    font-weight: bold;
    color: #000;
    display: inline-block;
    outline: none;
    border: none;
}

.github {
    position: fixed;
    transform: rotate(45deg);
    top: .6rem;
    line-height: 1.6em;
    right: -.6rem;
    background-color: #ac2c23;
    outline: .04rem solid #ac2c23;
    transform-origin: 1.5rem .23rem;
    border: .02rem dashed #d14742;
    width: 3rem;
    text-align: center;
    color: #ebdbd9;
    font-family: sans-serif;
}

/* 页眉 */

header {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    line-height: .42rem;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transition-property: background-color;
    transition-duration: 700ms;
}

header>div {
    width: 9.8rem;
    margin: auto;
    position: relative;
}

header>div>ul {
    width: 7rem;
    display: inline-block;
    background-image: url(./image2D.png);
    background-position: .3rem center;
    background-repeat: no-repeat;
    background-size: auto 70%;
    padding-left: .7rem;
}

header>div>ul>li {
    display: inline-block;
    line-height: .42rem;
    cursor: pointer;
}

header>div>ul>li>a {
    width: 100%;
    padding: 0 .2rem;
}

header>div>ul>li:hover {
    background-color: hsla(0, 0%, 100%, .3);
}

header>div>a.yelloxing {
    background-image: url('./yelloxing.jpg');
    background-size: 100% auto;
    height: .34rem;
    width: .34rem;
    font-size: 0;
    vertical-align: middle;
    border-radius: 50%;
}

header>div>span {
    font-weight: 800;
    padding-left: .1rem;
}

header>div>a.studio {
    height: .5rem;
    width: .7rem;
    text-align: center;
    font-size: .14rem;
    color: #fff;
    background-color: #ac2c23;
    border-radius: 0 0 .06rem .06rem;
    position: absolute;
    top: 0;
    right: .2rem;
}

/* 正文 */

.container {
    background-image: url(./header.jpg);
    background-repeat: no-repeat;
    background-position: center -.1rem;
    padding: 1.8rem calc(50vw - 4.8rem) .1rem;
    margin-top: -.42rem;
}

@media screen and (max-width:1200px) {
    .container {
        padding: 1.8rem calc(6rem - 4.8rem) .1rem;
    }
}

.container>.title {
    font-weight: 800;
    line-height: 2em;
    padding: .4rem 0 .2rem;
    margin-top: -.3rem;
}

.container>.big.title {
    font-size: .18rem;
    color: rgb(203, 83, 139);
}

.container>.small.title {
    font-size: .16rem;
    color: rgb(203, 83, 139);
}

.container>.little.title {
    font-size: .14rem;
    color: #85a646;
}

.container>.sub-little.title {
    font-size: .12rem;
    color: #f00;
}

.container>p {
    text-indent: 2em;
    font-size: .14rem;
    font-weight: 600;
}

.container>p>a {
    text-indent: 0;
    color: #ac2c23;
    text-decoration: underline;
}

.container>p.warn {
    background-image: url('./warn.png');
    background-repeat: no-repeat;
    background-size: auto .21rem;
    font-size: .12rem;
    color: #dac305;
    font-weight: 400;
}

.container>ul {
    margin-left: 5em;
    font-size: .13rem;
    line-height: 2.4em;
}

.container>ul>li {
    list-style-type: decimal;
}

/* 页脚 */

footer {
    padding: .4rem .1rem;
    text-align: center;
    background-color: #f6f9fa;
}

footer>ul {
    padding-bottom: .2rem;
}

footer>ul>li {
    display: inline-block;
    padding: 0 .2rem;
    line-height: 1.2em;
}

footer>ul>li:not(:last-child) {
    border-right: 1px solid #000;
}

footer>em {
    font-style: normal;
    font-family: cursive;
}
