body {
    &>* {
        width: 11rem;
        margin: auto;
    }
    &>header {
        &>.github {
            position: fixed;
            transform: rotate(45deg);
            top: .6rem;
            line-height: 1.6em;
            right: -.6rem;
            background-color: #ac2c23;
            outline: .04rem solid #ac2c23;
            transform-origin: 1.5rem .23rem;
            border: .02rem dashed #d14742;
            width: 3rem;
            text-align: center;
            color: #ebdbd9;
            font-family: sans-serif;
        }
        --distance: .5rem;
        * {
            display: inline-block;
        }
        position: relative;
        line-height: .6rem;
        color:$color;
        border-bottom: 1px solid $color;
        padding-left:var(--distance);
        h2 {
            font-size: .2rem;
            font-family: fantasy;
            background-image: url('../assets/image2D.png');
            background-position: left center;
            background-size: .3rem auto;
            background-repeat: no-repeat;
            padding-left: .4rem;
        }
        ul {
            padding-right: var(--distance);
            position: absolute;
            right: 0;
            li {
                padding: 0 .05rem;
                font-size: .12rem;
                cursor: pointer;
                &[active='yes'] {
                    color: rgb(241, 12, 12);
                }
                &[active='no'] {
                    color: rgb(167, 160, 160);
                }
            }
        }
    }
    &>footer {
        line-height: 1rem;
        font-size: .14rem;
        color: #43515a;
    }
}
